.alert {
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.insert {
    display: flex;
    justify-content: center;
}

.insert .btn {
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.insert .btn:hover {
    background-color: #5cb85c;
}
