/* Styles globaux */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
    color: #333;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

main {
    flex: 1;
}

/* En-tête */
header {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5%;
    background-color: white;
}

header img.logo {
    width: 75px;
    margin-right: 15px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    margin-right: 15px;
}

.menu-toggle img {
    width: 30px;
}

/* Navigation */
header nav {
    flex: 1;
}

header nav .menu-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Pousse le bouton de fermeture à droite */
header nav .close-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    margin-left: auto;
}

header nav .close-menu img {
    width: 20px;
    margin-right: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    padding-bottom: 5px;
    position: relative;
}

/* Soulignement animé au survol des liens de navigation */
header nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Épaisseur de la ligne */
    left: 0;
    bottom: 0;
    background-color: #4CAF50; /* Couleur du soulignement */
    transition: width 0.3s ease-in-out;
}

header nav ul li a:hover::after {
    width: 100%; /* Animer l'extension de la ligne sous l'élément */
}


/* Style pour les sections avec images et texte */
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

/* Styles spécifiques aux sections */
/* .text1 {
    margin-right: 10rem;
}

.text2 {
    margin-left: 5rem;
} */

/* Styles pour les boutons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #17280B;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0b5c1d;
    scale: 1.03;
}

.connexioninscription {
    text-decoration: none;
    border: 2px solid #3e88b9;
    border-radius: 8px;
    padding: 5px 10px;
    color: #3e88b9;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-left: 10px;
}

.connexioninscription:hover {
    background-color: #3e88b9;
    color: white;
    cursor: pointer;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0c2910;
    color: white;
    /* width: 100%; */
    padding: 20px 5%;
    
}

footer div {
    text-align: center;
    margin: 0 15px;
    /* margin-right: 150px; */
}

/* .mid {
    margin-right: 200px;
} */

footer img {
    width: 30%;
    max-width: 100px;
}

footer ul {
    list-style: none;
    margin-top: 5px;
}

footer ul li, footer div > p  {
    margin-top: 3px;
}

/* Réactivité pour mobiles */
@media (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    .logo {
        width: 75px;
    }

    .menu-toggle {
        display: block;
    }

    nav.menu ul {
        display: none;
    }

    /* Menu actif avec z-index plus élevé et position fixed */
    nav.menu.active ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        max-width: 250px;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    nav.menu.active .close-menu {
        display: block;
    }

    nav.menu.active ul li {
        margin: 5px 0;
        text-align: left;
        font-size: 14px;
        padding: 5px;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    nav.menu.active ul li:hover {
        background-color: #f0f0f0;
    }

    .auth-buttons a {
        padding: 5px 8px;
        font-size: 12px;
        margin-left: 5px;
        white-space: nowrap;
    }

    /* Styles pour le footer */
    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px; /* Ajout de marge latérale pour éviter le débordement */
        background-color: #0c2910;
        text-align: center; /* Centre le texte en mode mobile */
    }

    footer div {
        margin: 10px 0;
        font-size: 14px;
    }

    footer img {
        width: 40%;
    }

    .mid {
        margin-right: 0;
    }

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    footer ul li {
        margin: 10px 0;
    }
}

.alert {
    margin: 0 auto;
    max-width: 1180px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
}

.alert-warning {
    background-color: #ffcc00;
    color: #333;
}

/* Message d'erreur */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

/* Message de succès */

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
