html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
    padding: 40px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

label:hover{
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #5cb85c;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
    cursor: pointer;
}

.alert {
    margin-top: 10px;
    font-size: 14px;
    border-radius: 6px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px;
}

@media (max-width: 600px) {
    form {
        padding: 20px;
        margin: 20px auto;
    }

    button {
        font-size: 16px;
    }
}

.container {
    background-color: white;
    padding: 40px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 175px;
}
