<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel="stylesheet" href="static/base.css">
    {%endblock%}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
    <title>{% block title %}Anthropile{% endblock %}</title>
</head>
<body>
    <header>
        <div class="menu-toggle">
            <img src="static/img/menu.png" alt="Menu" />
        </div>
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo de mon site">
        <nav class="menu">
            <ul>
                <div class="menu-header">
                    <button class="close-menu">
                        <img src="static/img/close.png" alt="Fermer le menu" />
                    </button>
                </div>
                <li><a href="{{ url_for('home') }}">Accueil</a></li>
                <li><a href="/">Tableau de bord</a></li>
                <li><a href="{{ url_for('collecte_dechets') }}">Point de collecte</a></li>
                <li><a href="{{ url_for('rapport') }}">Rapport</a></li> 
            </ul>
        </nav>
        <div>
            {% if current_user.is_authenticated %}
                <span>Bienvenue, {{ current_user.nom_utilisateur }} 👋!</span>
                <a class="connexioninscription" href="{{ url_for('logout') }}">Se déconnecter</a>
            {% else %}
                <a class="connexioninscription" href="{{ url_for('login') }}">Se connecter</a>
                <a class="connexioninscription" href="{{ url_for('register') }}">S'inscrire</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div>
            <p>BioTrack'in</p>
            <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo de mon site">
        </div>
        <div class="mid">
            <p>Contacts</p>
            <p>tel : 00 00 00 00</p>
            <p>Rue d'issoudun 45067 Orléans</p>
            <p><strong>&copy; 2024 Anthropile - Tous droits réservés</strong></p>
        </div>
        <div>
            <h2>Membres de l'équipe</h2>
            <ul>
                <li>Nagarajah Niksan</li>
                <li>Lima Romain</li>
                <li>Wiciak Alexy</li>
                <li>Muhamad Zaiinizee Bin Daivin</li>
                <li>Niveau Samuel</li>
            </ul>
        </div>
    </footer>

    <script>
        // Ouvrir/fermer le menu au clic
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            const menu = document.querySelector('nav.menu');
            menu.classList.toggle('active');
        });

        // Fermer le menu si on clique sur la croix
        document.querySelector('.close-menu').addEventListener('click', function() {
            const menu = document.querySelector('nav.menu');
            menu.classList.remove('active');
        });

        // Fermer le menu si on clique en dehors
        document.addEventListener('click', function(event) {
            const menu = document.querySelector('nav.menu');
            const menuToggle = document.querySelector('.menu-toggle');

            // Vérifiez si le clic a eu lieu en dehors du menu et du bouton de menu
            if (!menu.contains(event.target) && !menuToggle.contains(event.target)) {
                menu.classList.remove('active'); // Ferme le menu
            }
        });
    </script>
</body>
</html>
