{% extends 'base.html' %}
{% block title %}
    BIOTRACK’IN | Modifier Entreprise
{% endblock %}
{%block styles%}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_company.css') }}">
    {%endblock%}
{% block content %}

{% if request.args.get('status') == 'modify_error' %}
        <div class="alert alert-error">Il existe déjà une entreprise avec ce nom.</div>
{% endif %}

<h1>Modifier entreprise: {{ ent.nom_entreprise }}</h1>
<form action="{{ url_for('modifier_entreprise', id=ent.id_entreprise) }}" method="POST">
    <label for="id_entreprise">ID :</label>
    <input type="text" id="id_entreprise" name="id_entreprise" value="{{ ent.id_entreprise }}" disabled>
    
    <label for="nom_entreprise">Nom :</label>
    <input type="text" id="nom_entreprise" name="nom_entreprise" value="{{ ent.nom_entreprise }}" required>

    <button type="submit">Modifier</button>
</form>
{% endblock %}