
{% extends "base.html" %}


{% block title %}
BIOTRACK’IN | Accueil
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<!-- Section avec l'image de fond, h1 et paragraphe -->
<section class="hero">
    <div class="hero-content">
        <h1 class="presentation-title">BIOTRACK’IN</h1>
        <p>Découvrez nos collectes de déchets, un moyen simple et efficace de contribuer à la propreté de notre île. Rejoignez-nous pour préserver la beauté naturelle de la Guadeloupe et participer à la protection de notre environnement.</p>
    </div>
</section>

<!-- Première section avec texte à gauche et image à droite -->
<section class="section-with-image-right">
    <div class="text1">
        <h1>La pollution en Guadeloupe</h1>
        <p class="p1">En Guadeloupe, le ramassage des déchets est essentiel pour préserver la beauté naturelle de notre île et protéger notre riche biodiversité. Une gestion efficace des déchets permet de maintenir nos paysages, tels que les forêts luxuriantes et les rivières cristallines, en évitant l'accumulation de détritus qui peuvent altérer notre environnement.</p>
        <p class="p1">De plus, un ramassage régulier contribue à la santé publique en réduisant les risques sanitaires liés à l'accumulation de déchets, tels que la prolifération d'insectes nuisibles.</p>
        <p class="p1">En adoptant de bonnes pratiques de gestion des déchets, nous pouvons assurer un cadre de vie sain et agréable pour tous les Guadeloupéens, tout en préservant notre patrimoine naturel pour les générations futures. Chaque action compte : ensemble, agissons pour une Guadeloupe plus propre et plus durable.</p>
        <a href="#" class="btn">En savoir plus</a>
    </div>
    <div class="image">
        <img class="image1" src="../static/img/bouteille_sable1.jpeg" alt="Nos services">
    </div>
</section>

<!-- Deuxième section avec image à gauche et texte à droite -->
<section class="section-with-image-left">
    <div class="text2">
        <h1>Sensibilisation à la Gestion des Déchets</h1>
        <p class="p1">La sensibilisation à la gestion des déchets est primordiale pour encourager les citoyens à adopter des comportements responsables et respectueux de l'environnement. En organisant des campagnes d'information et des ateliers éducatifs, nous pouvons informer la population sur l'importance du tri sélectif, du recyclage et de la réduction des déchets.</p>
        <p class="p1">Il est crucial d'impliquer les écoles, les associations locales et les entreprises pour créer une culture collective de responsabilité environnementale. En favorisant des gestes simples, comme la réduction de l'utilisation de plastiques jetables ou la participation à des journées de nettoyage, nous pouvons ensemble contribuer à un environnement plus sain.</p>
        <a href="{{ url_for('collecte_dechets') }}" class="btn">Participer aux actions</a>
    </div>
    <div class="image">
        <img class="image2" src="../static/img/bouteille_sable2.jpg" alt="Nos produits">
    </div>
</section>
{% endblock %}
