{% extends 'base.html' %}
{% block title %}
    BIOTRACK’IN | Profil
{% endblock %}
{%block styles%}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profil.css') }}">

{%endblock%}

{% block content %}
    <div class="profile-container">
        <h1>Bienvenue, {{ user.nom_utilisateur }}!</h1>

        <div class="profile-info">
            <p><strong>Nom d'utilisateur :</strong> {{ user.nom_utilisateur }}</p>
            <p><strong>Email :</strong> {{ user.mail }}</p>
            <p><strong>Numéro de téléphone :</strong> {{ user.numtel }}</p>
            <p><strong>Rôle :</strong> {{ user.nom_role }}</p>
        </div>
        <a href="/dechets_selon_utilisteur/{{ user.id }}" class="btn">Voir mes déchets</a>
        <a href="{{ url_for('edit_profile') }}" class="btn">Modifier le profil</a>
    </div>
    <script src="{{ url_for('static', filename='js/bot.js') }}"></script>
{%endblock%}