{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='graph.css') }}">
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
{% endblock %}


{% block title %}Statistique des points de collecte{% endblock %}

{% block content %}
<div class="contenu-graph">
    <div class="graph">
        <h2>Quantité de Déchets par Catégorie pour Chaque Point de Collecte</h2>
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <div class="graph">
        <h2>Quantité de Déchets par Catégorie</h2>
        <canvas id="dechetChart" width="400" height="200"></canvas>
    </div>
</div>
<div>
    <h2>Points de collecte à collecter rapidement</h2>
    <table>
        <thead>
            <tr>
                <th>Point de collecte</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Quantité Max</th>
            </tr>
        </thead>
        <tbody>
            {% for point in pts_remplis %}
            <tr>
                <td>{{ loop.index }}</td> <!-- Optionnel : Numéro de ligne -->
                <td>{{ point.nom_pt_collecte }}</td>
                <td>{{ point.adresse }}</td>
                <td>{{ point.quantite_max }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/bot.js') }}"></script>
{% endblock %}