{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='graph.css') }}">
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
{% endblock %}


{% block title %}Statistique des points de collecte{% endblock %}

{% block content %}
<div class="contenu-graph">
    <div class="graph">
        <h2>Quantité de Déchets par Catégorie pour Chaque Point de Collecte</h2>
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <div class="graph">
        <h2>Quantité de Déchets par Catégorie</h2>
        <canvas id="dechetChart" width="400" height="200"></canvas>
    </div>
</div>
<script>

</script>
{% endblock %}