{% extends 'base.html' %}
{% block title %} Utilisateurs {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='rapport.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='all_companies.css') }}">
{% endblock %}

{% block content %}
    <div>
        <h1>Liste des utilisateurs</h1>
    </div>
    {% if utilisateurs %}
        <table id="company-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Société représentée</th>
                </tr>
            </thead>
            <tbody>
                {% for user in utilisateurs %}
                <tr>
                    <td><a href="{{ url_for('details_utilisateur', id_utilisateur=user.id_utilisateur) }}">{{ user.nom_utilisateur }}</a></td>
                    <td>{{ user.nom_entreprise }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
